.save-button {
background-color:#ff6666;
color: #ffffff
border: nome;
padding: 10px  20px;
font-size: 16px;
cursor: pointer;
opacity: 0.8;
transform:opacity 0.3s esse;
border-radius: 5%;
} 

.save-button:hover{
    opacity: 1;
 
}